<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Data Binding</title>
</head>
<body>
	
	<div ng-app="">
		Type anything: <input type="text" name="" id="" ng-model="data.msg">
		<br>
		You have typed! - {{data.msg}}
		<br><br>

		Field <input type="number" ng-model="value.one" integer> + 
		Field 2 <input type="number" ng-model="value.two" integer>
		<br>
		Result - {{ value.one + value.two }}
	</div>

	<script src="src/angular.1.3.min.js"></script>

</body>
</html>